* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header_container {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". .";
    background-color: #565656;
    position: absolute;
    z-index: 5;
}

.header_logo {
    width: 50px;
    margin: 10px 300px;
}

.header_menu {
    padding: 20px 0;
}

#menu_button {
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 15px 20px;
    background:  #1e1b3e;
    border-radius: 19px;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

#menu_items_block {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 67px;
    background-image: linear-gradient(to top, #242b60, #22234e, #1e1b3e, #19142e, #130a1f);
    padding: 0 0 400px 200px;
    transition: 0.5s;
    transform-origin: top left;
    transform-style: preserve-3d;
    transform: rotatez(-90deg);
    border-radius: 0 0 0 100px;
    border-left: 2px solid #3e4eca;
}

.menu_item {
    margin: 200px 200px 0 0;
    font-size: 25px;
    color: rgb(231, 231, 231);
}

.footer {
    background-color: #565656;
    width: 100%;
}

.footer_text {
    font-size: 40px;
    color: rgb(231, 231, 231);
    padding: 20px 0 50px 0;
}

.footer_container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."; 
    justify-items: center; 
    align-items: center;
    padding-bottom: 50px;
}

.footer_text_container1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."; 
    justify-items: start; 
    align-items: center; 
    margin-left: 30px;
}

.footer_logo {
    width: 200px;
}

.footer_text_container2 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."; 
    justify-items: end; 
    align-items: center; 
    margin-right: 30px;
}

.footer_text_item {
    color: rgb(231, 231, 231);
    font-size: 20px;
    padding-bottom: 20px;
}

.main {
    width: 100%;
    background: black;
}

.main_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main_container_item {
    --blocks-num: 5;
    --blocks-margin: 1px;
    --item-size: calc((100vw / var(--blocks-num)) - (var(--blocks-margin) * var(--blocks-num)));
    width: var(--item-size);
    height: var(--item-size);
    margin: var(--blocks-margin);
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    color: rgb(231, 231, 231);
}

#type1 {
    background-image: url("space1.jpg");
}

#type2 {
    background-image: url("space2.jpg");
}

#type3 {
    background-image: url("space3.jpg");
}

#typetext {
    font-size: 20px;
    display: flex;
    align-items: center
}

#typetext:before {
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, asperiores.";
}